### dict sample

In [13]:
empty_dict = {}

In [3]:
d1 = {'a':'some value','b':[1,2,3,4]}

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1

In [4]:
d1['b']

[1, 2, 3, 4]

### in 
check if dict contains a key

In [7]:
'b' in d1

True

In [6]:
'ab' in d1

False

### delete values
del: delete by key 
pop: delete and return

In [11]:
d1[5] = 'some value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 5: 'some value',
 'dummy': 'another value '}

In [12]:
d1['dummy'] = 'another value '
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 5: 'some value',
 'dummy': 'another value '}

In [14]:
del d1[5]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another value '}

In [15]:
ret = d1.pop('dummy')
ret

'another value '

In [16]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

### keys and values

In [17]:
list(d1.keys())

['a', 'b']

In [18]:
list(d1.values())

['some value', [1, 2, 3, 4]]

### create dicts from sequences

In [20]:
mapping = dict(zip(range(5),['a','b','c','d','e']))
mapping

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

### default values

In [21]:
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [23]:
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [24]:
from collections import defaultdict
words = ['apple','bat','bar','atom','book']
by_letter = defaultdict(list)
for word in words:
    letter = word[0]
    by_letter[letter].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})