In [1]:
def my_function(x,y,z=1.5):
    if z > 1:
        return z * ( x + y )
    else:
        return z / ( x + y )

In [2]:
my_function(5,6,z=0.)

0.06363636363636363

In [3]:
my_function(3.14,7,z=3.5)

35.49

In [4]:
def f():
    a = 5
    b = 6
    c = 7
    return a , b , c

In [6]:
a,b,c = f()
print(a)
print(b)
print(c)

5
6
7

In [12]:
import re 
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub(r'[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [10]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [13]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [14]:
def remove_punctuation(value):
    return re.sub(r'[!#?]', '', value)

clean_ops = [str.strip,remove_punctuation,  str.title]

def clean_strings1(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [15]:
clean_strings1(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [16]:
some_dict = {'a':1,'b':2,'c':3}
for key in some_dict:
    print(key)

a
b
c

In [17]:
def squares(n = 10):
    print("Generating squares from 1 to {0}".format(n**2))
    for i in range(1,n+1):
        yield i**2

In [19]:
gen = squares()
gen

In [20]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
gen = (x ** 2 for x in range(100))
gen

In [27]:
list(gen)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

### itertools

In [28]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert','Steven']
for letter , names  in itertools.groupby(names, first_letter):
    print(letter, list(names))  # letter is the first letter of each name

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']