### list sample

In [22]:
a = [2,3,7,None]
a

[2, 3, 7, None]

In [23]:
tup = ('foo','bar','baz')
b = list(tup)
b

['foo', 'bar', 'baz']

In [24]:

tup = ('foo','bar','baz')
b = list(tup)
b[1] = 'peekaboo'
b

['foo', 'peekaboo', 'baz']

### generata list by range

In [25]:
gen = range(10)
gen

range(0, 10)

In [26]:
gen = range(10) 
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### list operate

#### append
append a element at tail

In [27]:
b = ['foo','peekaboo','baz']
b.append('dwarf')
b

['foo', 'peekaboo', 'baz', 'dwarf']

#### insert
insert a element at position

In [28]:

b = ['foo','peekaboo','baz']
b.insert(1,'red')
b

['foo', 'red', 'peekaboo', 'baz']

#### pop
removes and returns an element at aparticular index:

In [29]:

b = ['foo','peekaboo','baz']
b.pop(2)

'baz'

In [30]:
b

['foo', 'peekaboo']

#### remove by value

In [31]:
b = ['foo','peekaboo','baz']
b.append('foo')
b

['foo', 'peekaboo', 'baz', 'foo']

In [32]:
b.remove('foo')
b

['peekaboo', 'baz', 'foo']

### in
check list contains a value

In [33]:
b = ['foo','peekaboo','baz']
b

['foo', 'peekaboo', 'baz']

In [34]:
'foo' in b

True

In [35]:
'foobaz' in b

False

### concatenatin

#### + contatenates

In [36]:
a = [4,None ,'foo']
b = [7,8,(2,3)]
c = a + b
c

[4, None, 'foo', 7, 8, (2, 3)]

#### extend
append multiple elements

In [37]:
x = [4,None ,'foo']
x.extend([7,8,(2,3)])   
x

[4, None, 'foo', 7, 8, (2, 3)]

### sorting

In [38]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [39]:
b = ['saw','small','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

### binary search

#### bisect
finds the location where an element should be inserted to keep it sorted

In [43]:
import bisect
c = [1,2,2,2,3,4,7]
c

[1, 2, 2, 2, 3, 4, 7]

In [44]:
bisect.bisect(c,2)

4

In [45]:
bisect.bisect(c,5)

6

In [47]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

### Slicing

In [48]:
seq = [7,2,3,7,5,6,0,1]
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [49]:
seq[1:5]

[2, 3, 7, 5]

In [50]:
seq[3:4]=[6,3]    
seq

[7, 2, 3, 1, 2, 3, 5, 6, 0, 1]

In [51]:
seq[:5]

[7, 2, 3, 1, 2]

In [53]:
seq[3:]

[1, 2, 3, 5, 6, 0, 1]

In [54]:
seq[-4:]

[5, 6, 0, 1]

In [55]:
seq[-6:-2]

[2, 3, 5, 6]

In [56]:
seq[::2]

[7, 3, 2, 5, 0]

In [57]:
seq[::-1]

[1, 0, 6, 5, 3, 2, 1, 3, 2, 7]

### functions

#### enumerate
keep track of the index of the current item

In [59]:
l = ['foo','bar','baz']
mapping = {}
for i , v in enumerate(l):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted
returns a new sorted list from the elements of any sequence

In [60]:
l = [7,1,2,6,0,3,2]
sorted(l)

[0, 1, 2, 2, 3, 6, 7]

In [61]:
l

[7, 1, 2, 6, 0, 3, 2]

In [62]:
s = 'horse race'
sorted(s)

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip
“pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [63]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [64]:
zipped = zip(seq2,seq1)
list(zipped)

[('one', 'foo'), ('two', 'bar'), ('three', 'baz')]

In [65]:
seq3 = [False, True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [66]:
for i , (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [67]:
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]
first_names,last_names = zip(*pitchers)

In [68]:
first_names

('Nolan', 'Roger', 'Schilling')

In [69]:
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [71]:
a = list(range(10))
list(reversed(a))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]