create tuple with a comma-separated sequence of values:

In [3]:
tup = 4,5,6
tup

(4, 5, 6)

creating a tuple of tuple

In [4]:
netsted_tup = (4,5,6),(7,8)
netsted_tup

((4, 5, 6), (7, 8))

convert sequence to tuple

In [5]:
tup =  tuple([4,0,2])
tup

(4, 0, 2)

convert iterator to tuple

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

tuple index

In [1]:
tup = tuple('string')
tup[0]

's'

tup is inmutable

In [2]:
tup = tuple(['foo',[1,2,3],True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

mutable element in tuple  can modify

In [4]:
tup = tuple(['foo',[1,2,3],True])
tup[1].append(4)
tup

('foo', [1, 2, 3, 4], True)

+ operator on tuple

In [6]:
tup = (4,None,'foo') + (6,0) + ('bar',)
tup

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer

In [9]:
tup = ('foo','bar') * 4
tup

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

upacking tuples

In [11]:
tup = (4,5,6)
a,b,c = tup
print(a)
print(b)
print(c)

4
5
6

In [12]:
tup = 4,5,(6,7)
a,b,(c,d) = tup
print(a)
print(b)
print(c)
print(d)

4
5
6
7

swap value sample

In [13]:
a,b = 1,2
b,a = a,b
print(a)
print(b)

2
1

sequences unpacking

In [15]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

*rest function

In [16]:
values = 1,2,3,4,5
a,b ,*rest = values
print(a,b)
print(rest)

1 2
[3, 4, 5]

tuple count

In [17]:
a = (1,2,2,2,3,4,2)
a.count(2)

4